<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static',filename='styles/suggest_style.css') }}">
    <title>Document</title>
</head>
<body style="margin: 0 auto">
    <div class="container" style="margin:1cm;">
            <h1>Workout Suggestions For Patients with Severe Haemophilia</h1>
            <div class="list-group m-5 d-flex">
                <div class="m-2">
                    <ul>
                        <li>
                            <h3>Low Impact Activities</h3>
                        <p class="text"> Focus on exercises that are less likely to cause joint or muscle injuries. Examples include swimming, walking, cycling, yoga, and tai chi. These activities provide cardiovascular benefits and improve flexibility without putting excessive stress on your joints.</p>
                        </li>
                        <li>
                            <h3>Strength Training</h3>
                            <p class="text">Incorporate light to moderate resistance training using weights or resistance bands. Start with low weights and gradually increase resistance over time. Work with a fitness professional who can guide you through proper form and technique to minimize the risk of injury.</p>
                        </li>
                        <li>
                            <h3>Range-of-motion exercises</h3>
                            <p class="text">Perform gentle stretching and range-of-motion exercises regularly to improve joint flexibility. This can help maintain joint health and reduce the risk of bleeding during physical activity.</p>
                        </li>
                        <li>
                            <h3>Warm-up and cool-down</h3>
                            <p class="text">Prior to any workout, ensure you warm up your muscles and joints with some light aerobic exercises and dynamic stretches. Afterward, cool down with static stretches to promote muscle recovery and prevent muscle stiffness.</p>
                        </li>
                        <li>
                            <h3>Avoid high-impact and contact sports</h3>
                            <p class="text">Activities such as football, basketball, soccer, and martial arts pose a higher risk of injury and bleeding. It's generally recommended to avoid or proceed with caution when engaging in these sports, especially if you have joint or muscle bleeds in the past.</p>
                        </li>
                </ul>
                </div>
                
            </div>
    </div>
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
</html>